@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer
@* Colors: light green #61892F, bright Green #86C232, black #222629, Lighter #474B4F, lightest #6B6E70 *@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@_localizer["CTU Events"]</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <style>
        body {
            font-family: 'Dosis', sans-serif;
            background-color: #222629;
            color: white;
            margin: 0px;
        }

        header {
            border: 5px solid #61892F;
            text-align: center;
            margin-top: 8px;
            margin-left: 8px;
            margin-right: 8px;
        }

        nav > ul {
            list-style-type: none;
            padding-left: 0;
        }

        nav > ul > li {
            display: inline;
        }

        a {
            text-decoration: none;
            color: #86C232;
        }

        span {
            color: #86C232;
        }

        span:hover {
            cursor: pointer;
        }

        .Content {
            width: 31%;
            height: 35%;
            display: inline-grid;
            border: 5px solid #61892F;
            padding: 10px;
            margin-left: 8px;
            margin-top: 8px;
        }

        #Information {
            display: normal;
            position: absolute;
            top: 57%;
        }

        #FilterBar {
            margin: 8px 5px 8px 5px;
            border: 5px solid #61892F;
            padding: 0px;
        }

        #Map {
            position: absolute;
            right: 20px;
            width: 33%;
            top: 57%;
        }
    </style>

    <script>
        function Add() {
            $("#FavList").append("<li>@ViewBag.Current.Title</li>");
        }
    </script>

    <header>
        <nav>
            <h1>
                <a>@_localizer["CTU Events"]</a>
            </h1>
        </nav>
    </header>

    <div id="FilterBar">
        @_localizer["Filter Bar"]

        <form method="get">
            <span style="position:relative;left:42%;">
                <label for="Order" style="position:relative;left:10px;">@_localizer["Order"]</label>
                <select name="Order" style="position:relative;left:10px;">
                    <option>@_localizer["Ascending"]</option>
                    <option>@_localizer["Decending"]</option>
                </select>

                <label for="Category" style="position:relative;left:10px;">@_localizer["Category"]</label>
                <select name="Category" style="position:relative;left:10px;">
                    <option>@_localizer["All"]</option>
                    <option>@_localizer["Near me"]</option>
                </select>

                <label for="culture" style="position:relative;left:10px;">@_localizer["Language"]</label>
                <select name="culture" style="position:relative;left:10px;">
                    <option value="en">@_localizer["English"]</option>
                    <option value="fr">@_localizer["French"]</option>
                </select>
            </span>

            <input type="text" name="searchstring" style="position:absolute;right:200px;" />
            <input type="submit" value="@_localizer["Search"]" style="position:absolute;right:100px;" />
        </form>

    </div>

    <div class="Content" id="FavouriteList">
        <h1 style="height:50px">@_localizer["Favouritelist"]</h1>
        <ul id="FavList" style="height:auto"></ul>
        @await Html.PartialAsync("_FavList", new List<string>())

    </div>

    <div class="Content" id="List">
        <h1 style="height:-50px">@_localizer["List"]</h1>
        @await Html.PartialAsync("_List")

    </div>

    <div class="Content" id="Picture">
        <h1>@_localizer["Picture"]</h1>
        <img src="@ViewBag.Current.Image" alt="@ViewBag.Current.Title" style="position:relative;left:25%;" />
    </div>

    <div class="Content" id="SocialMedia" style="display:inline-grid">
        <div id="share" class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <h1>@_localizer["SocialMedia"]</h1>

            @*Social media buttons BEGIN*@
            <div id="share" class="a2a_kit a2a_kit_size_32 a2a_default_style" style="border:none">
                <a class="a2a_dd" href="https://www.w3schools.com/jsref/prop_node_previoussibling.asp"></a>
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
                <a class="a2a_button_email"></a>
            </div>

            @*Social media buttons END*@
        </div>
    </div>



    <div class="Content" id="Information">
        <h1>@_localizer["Information"]</h1>
        @ViewBag.Current.Description
    <p>
        @_localizer["For more information"] <a href="@ViewBag.Current.Link">@_localizer["here"]</a>.
        <br />
        @_localizer["To add event to favourites, click"] <span onclick="Add()">@_localizer["here"]</span>.
    </p>

    </div>

    <div id="Map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1zt737WnnN8dYNTmE7PDyiJA2tA9qgRST" width="640" height="480"></iframe>
    </div>

</body>
</html>

